body {
  background: #eefaff;
  background: -webkit-linear-gradient(legacy-direction(150deg), #eefaff, #033fc0);
  background: linear-gradient(150deg, #eefaff, #033fc0);
}

header {
  background-color: #48c5ff;
  text-align: center;
}

header h1, header h2, header h4 {
  color: #fff;
  font-family: "Montserrat", "Franklin Gothic Medium", sans-serif;
}

.callout.success:hover {
  background-color: #ddb9ff;
  color: #fff;
}

.menu li:hover {
  background-color: #ddb9ff;
  color: #fff;
}

blockquote, cite {
  color: #fff;
}

blockquote:hover, cite:hover {
  background-color: #ddb9ff;
  color: #fff;
}
